In [85]:
import pandas as pd

### Загружаем оригинальный датасет.

In [86]:
data = pd.read_csv('data/train.tsv', sep='\t', header=None)
data

                                                       0   1        2
0      My favourite food is anything I didn't have to...  27  eebbqej
1      Now if he does off himself, everyone will thin...  27  ed00q6i
2                         WHY THE FUCK IS BAYLESS ISOING   2  eezlygj
3                            To make her feel threatened  14  ed7ypvh
4                                 Dirty Southern Wankers   3  ed0bdzj
...                                                  ...  ..      ...
43405  Added you mate well I’ve just got the bow and ...  18  edsb738
43406  Always thought that was funny but is it a refe...   6  ee7fdou
43407  What are you talking about? Anything bad that ...   3  efgbhks
43408            More like a baptism, with sexy results!  13  ed1naf8
43409                                    Enjoy the ride!  17  eecwmbq

[43410 rows x 3 columns]

In [89]:
data.columns = ['text', 'labels', 'author']
data

                                                    text labels   author
0      My favourite food is anything I didn't have to...     27  eebbqej
1      Now if he does off himself, everyone will thin...     27  ed00q6i
2                         WHY THE FUCK IS BAYLESS ISOING      2  eezlygj
3                            To make her feel threatened     14  ed7ypvh
4                                 Dirty Southern Wankers      3  ed0bdzj
...                                                  ...    ...      ...
43405  Added you mate well I’ve just got the bow and ...     18  edsb738
43406  Always thought that was funny but is it a refe...      6  ee7fdou
43407  What are you talking about? Anything bad that ...      3  efgbhks
43408            More like a baptism, with sexy results!     13  ed1naf8
43409                                    Enjoy the ride!     17  eecwmbq

[43410 rows x 3 columns]

In [90]:
data = data [['text', 'labels']]

In [91]:
data

                                                    text labels
0      My favourite food is anything I didn't have to...     27
1      Now if he does off himself, everyone will thin...     27
2                         WHY THE FUCK IS BAYLESS ISOING      2
3                            To make her feel threatened     14
4                                 Dirty Southern Wankers      3
...                                                  ...    ...
43405  Added you mate well I’ve just got the bow and ...     18
43406  Always thought that was funny but is it a refe...      6
43407  What are you talking about? Anything bad that ...      3
43408            More like a baptism, with sexy results!     13
43409                                    Enjoy the ride!     17

[43410 rows x 2 columns]

### Выделяем интересующие нас эмоции

In [92]:
def is_anger(labels):
    if '2' in labels.strip().split(','):
        return 1
    else:
        return 0

data['anger'] = data['labels'].map(is_anger)
data

                                                    text labels  anger
0      My favourite food is anything I didn't have to...     27      0
1      Now if he does off himself, everyone will thin...     27      0
2                         WHY THE FUCK IS BAYLESS ISOING      2      1
3                            To make her feel threatened     14      0
4                                 Dirty Southern Wankers      3      0
...                                                  ...    ...    ...
43405  Added you mate well I’ve just got the bow and ...     18      0
43406  Always thought that was funny but is it a refe...      6      0
43407  What are you talking about? Anything bad that ...      3      0
43408            More like a baptism, with sexy results!     13      0
43409                                    Enjoy the ride!     17      0

[43410 rows x 3 columns]

In [93]:
def is_disgust(labels):
    if '11' in labels.strip().split(','):
        return 1
    else:
        return 0

data['disgust'] = data['labels'].map(is_disgust)
data

,text,labels,anger,disgust
0,My favourite food is anything I didn't have to...,27,0,0
1,"Now if he does off himself, everyone will thin...",27,0,0
2,WHY THE FUCK IS BAYLESS ISOING,2,1,0
3,To make her feel threatened,14,0,0
4,Dirty Southern Wankers,3,0,0
...,...,...,...,...
43405,Added you mate well I’ve just got the bow and ...,18,0,0
43406,Always thought that was funny but is it a refe...,6,0,0
43407,What are you talking about? Anything bad that ...,3,0,0
43408,"More like a baptism, with sexy results!",13,0,0
43409,Enjoy the ride!,17,0,0

In [94]:
def is_fear(labels):
    if '14' in labels.strip().split(','):
        return 1
    else:
        return 0

data['fear'] = data['labels'].map(is_fear)
data

,text,labels,anger,disgust,fear
0,My favourite food is anything I didn't have to...,27,0,0,0
1,"Now if he does off himself, everyone will thin...",27,0,0,0
2,WHY THE FUCK IS BAYLESS ISOING,2,1,0,0
3,To make her feel threatened,14,0,0,1
4,Dirty Southern Wankers,3,0,0,0
...,...,...,...,...,...
43405,Added you mate well I’ve just got the bow and ...,18,0,0,0
43406,Always thought that was funny but is it a refe...,6,0,0,0
43407,What are you talking about? Anything bad that ...,3,0,0,0
43408,"More like a baptism, with sexy results!",13,0,0,0
43409,Enjoy the ride!,17,0,0,0

In [95]:
def is_joy(labels):
    if '17' in labels.strip().split(','):
        return 1
    else:
        return 0

data['joy'] = data['labels'].map(is_joy)
data

,text,labels,anger,disgust,fear,joy
0,My favourite food is anything I didn't have to...,27,0,0,0,0
1,"Now if he does off himself, everyone will thin...",27,0,0,0,0
2,WHY THE FUCK IS BAYLESS ISOING,2,1,0,0,0
3,To make her feel threatened,14,0,0,1,0
4,Dirty Southern Wankers,3,0,0,0,0
...,...,...,...,...,...,...
43405,Added you mate well I’ve just got the bow and ...,18,0,0,0,0
43406,Always thought that was funny but is it a refe...,6,0,0,0,0
43407,What are you talking about? Anything bad that ...,3,0,0,0,0
43408,"More like a baptism, with sexy results!",13,0,0,0,0
43409,Enjoy the ride!,17,0,0,0,1

In [96]:
def is_neutral(labels):
    if '20' in labels.strip().split(','):
        return 1
    else:
        return 0

data['neutral'] = data['labels'].map(is_neutral)
data

,text,labels,anger,disgust,fear,joy,neutral
0,My favourite food is anything I didn't have to...,27,0,0,0,0,0
1,"Now if he does off himself, everyone will thin...",27,0,0,0,0,0
2,WHY THE FUCK IS BAYLESS ISOING,2,1,0,0,0,0
3,To make her feel threatened,14,0,0,1,0,0
4,Dirty Southern Wankers,3,0,0,0,0,0
...,...,...,...,...,...,...,...
43405,Added you mate well I’ve just got the bow and ...,18,0,0,0,0,0
43406,Always thought that was funny but is it a refe...,6,0,0,0,0,0
43407,What are you talking about? Anything bad that ...,3,0,0,0,0,0
43408,"More like a baptism, with sexy results!",13,0,0,0,0,0
43409,Enjoy the ride!,17,0,0,0,1,0

In [97]:
def is_sadness(labels):
    if '26' in labels.strip().split(','):
        return 1
    else:
        return 0

data['sadness'] = data['labels'].map(is_sadness)
data

,text,labels,anger,disgust,fear,joy,neutral,sadness
0,My favourite food is anything I didn't have to...,27,0,0,0,0,0,0
1,"Now if he does off himself, everyone will thin...",27,0,0,0,0,0,0
2,WHY THE FUCK IS BAYLESS ISOING,2,1,0,0,0,0,0
3,To make her feel threatened,14,0,0,1,0,0,0
4,Dirty Southern Wankers,3,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
43405,Added you mate well I’ve just got the bow and ...,18,0,0,0,0,0,0
43406,Always thought that was funny but is it a refe...,6,0,0,0,0,0,0
43407,What are you talking about? Anything bad that ...,3,0,0,0,0,0,0
43408,"More like a baptism, with sexy results!",13,0,0,0,0,0,0
43409,Enjoy the ride!,17,0,0,0,1,0,0

In [98]:
def is_surprise(labels):
    if '27' in labels.strip().split(','):
        return 1
    else:
        return 0

data['surprise'] = data['labels'].map(is_surprise)
data

,text,labels,anger,disgust,fear,joy,neutral,sadness,surprise
0,My favourite food is anything I didn't have to...,27,0,0,0,0,0,0,1
1,"Now if he does off himself, everyone will thin...",27,0,0,0,0,0,0,1
2,WHY THE FUCK IS BAYLESS ISOING,2,1,0,0,0,0,0,0
3,To make her feel threatened,14,0,0,1,0,0,0,0
4,Dirty Southern Wankers,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
43405,Added you mate well I’ve just got the bow and ...,18,0,0,0,0,0,0,0
43406,Always thought that was funny but is it a refe...,6,0,0,0,0,0,0,0
43407,What are you talking about? Anything bad that ...,3,0,0,0,0,0,0,0
43408,"More like a baptism, with sexy results!",13,0,0,0,0,0,0,0
43409,Enjoy the ride!,17,0,0,0,1,0,0,0

### Отмечаем перекрывающиеся эмоции

In [99]:
def is_multiple(labels):
    return len(labels.strip().split(','))

data['multiple'] = data['labels'].map(is_multiple)

,text,labels,anger,disgust,fear,joy,neutral,sadness,surprise,multiple
0,My favourite food is anything I didn't have to...,27,0,0,0,0,0,0,1,1
1,"Now if he does off himself, everyone will thin...",27,0,0,0,0,0,0,1,1
2,WHY THE FUCK IS BAYLESS ISOING,2,1,0,0,0,0,0,0,1
3,To make her feel threatened,14,0,0,1,0,0,0,0,1
4,Dirty Southern Wankers,3,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
43405,Added you mate well I’ve just got the bow and ...,18,0,0,0,0,0,0,0,1
43406,Always thought that was funny but is it a refe...,6,0,0,0,0,0,0,0,1
43407,What are you talking about? Anything bad that ...,3,0,0,0,0,0,0,0,1
43408,"More like a baptism, with sexy results!",13,0,0,0,0,0,0,0,1
43409,Enjoy the ride!,17,0,0,0,1,0,0,0,1

In [100]:
data[data['multiple'] > 1]

,text,labels,anger,disgust,fear,joy,neutral,sadness,surprise,multiple
7,We need more boards and to create a bit more s...,"8,20",0,0,0,0,1,0,0,2
11,"Aww... she'll probably come around eventually,...","1,4",0,0,0,0,0,0,0,2
15,"Shit, I guess I accidentally bought a Pay-Per-...","3,12",0,0,0,0,0,0,0,2
19,Maybe that’s what happened to the great white ...,"6,22",0,0,0,0,0,0,0,2
20,"I never thought it was at the same moment, but...","6,9,27",0,0,0,0,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...
43382,"goat handshake denied Personally, I just thin...","14,27",0,0,1,0,0,0,1,2
43383,it's horrid :/,"14,27",0,0,1,0,0,0,1,2
43388,Fuck these trendy hipster joints. Give me my s...,"2,3",1,0,0,0,0,0,0,2
43395,Sorry I kind of took it like you were flexing ...,"1,24",0,0,0,0,0,0,0,2
43404,Your paranoia over it seems schizophrenic to m...,"7,27",0,0,0,0,0,0,1,2

### Суммируем колонки с эмоциями, чтобы потом отфильтровать записи, где нет "наших" эмоций

In [101]:
data['sum'] = data['anger'] + data['disgust'] + data['fear'] + data['joy'] + data['neutral']+data['sadness'] + data['surprise']

In [102]:
data[data['sum'] > 0].shape

(20844, 11)

In [104]:
data_nr = data[data['sum'] > 0].copy()

In [121]:
data_nr.shape

(20844, 8)

### Датасет уменьшился вдвое. Можно проводить эксперименты с ним, а можно дополнительно отфильтровать сочетания эмоций, где хотя бы одна - не "наша"

In [106]:
data_nr[data_nr['multiple'] > 1].shape

(3634, 11)

In [107]:
data_nr['diff'] = data_nr['multiple'] - data_nr['sum']

In [108]:
data_nr[data_nr['diff'] > 0].shape

(3273, 12)

In [110]:
data_r = data_nr.drop(data_nr[data_nr['diff'] > 0].index)

In [111]:
data_r.shape

(17571, 12)

### Сохраняем полученные датасеты

In [115]:
data_r.drop(columns=['labels', 'diff', 'sum', 'multiple'], inplace=True)
data_r

,text,anger,disgust,fear,joy,neutral,sadness,surprise
0,My favourite food is anything I didn't have to...,0,0,0,0,0,0,1
1,"Now if he does off himself, everyone will thin...",0,0,0,0,0,0,1
2,WHY THE FUCK IS BAYLESS ISOING,1,0,0,0,0,0,0
3,To make her feel threatened,0,0,1,0,0,0,0
5,OmG pEyToN iSn'T gOoD eNoUgH tO hElP uS iN tHe...,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
43391,To calm him down I suppose.,0,0,0,0,0,0,1
43393,"Not to nitpick, but wasn't [NAME] (I assume th...",0,0,0,0,0,0,1
43399,kinda obviously satire op,0,0,0,0,0,0,1
43401,You just know they're the same people who call...,0,0,0,0,0,0,1
43409,Enjoy the ride!,0,0,0,1,0,0,0

In [118]:
data_r.to_csv('data/train_r.tsv', sep='\t', index=False)

In [120]:
data_nr.drop(columns=['labels', 'diff', 'sum', 'multiple'], inplace=True)
data_nr

,text,anger,disgust,fear,joy,neutral,sadness,surprise
0,My favourite food is anything I didn't have to...,0,0,0,0,0,0,1
1,"Now if he does off himself, everyone will thin...",0,0,0,0,0,0,1
2,WHY THE FUCK IS BAYLESS ISOING,1,0,0,0,0,0,0
3,To make her feel threatened,0,0,1,0,0,0,0
5,OmG pEyToN iSn'T gOoD eNoUgH tO hElP uS iN tHe...,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
43393,"Not to nitpick, but wasn't [NAME] (I assume th...",0,0,0,0,0,0,1
43399,kinda obviously satire op,0,0,0,0,0,0,1
43401,You just know they're the same people who call...,0,0,0,0,0,0,1
43404,Your paranoia over it seems schizophrenic to m...,0,0,0,0,0,0,1
43409,Enjoy the ride!,0,0,0,1,0,0,0

In [122]:
data_nr.to_csv('data/train_nr.tsv', sep='\t', index=False)